.Complete {
	box-sizing: border-box;
	flex-grow: 623;
	min-height: 530px;
	background: #ffffff;
	box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 31px calc(78vw / 1440 * 100);
	position: relative;
	text-align: left;
}

.Complete .complete-text {
    display: inline-block;
    margin-bottom: 19px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
.Complete .Confirmation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    font-size: 22px;
	margin-top: 100px;
    margin-bottom: 100px;
}

.Complete .flex div {
	width: 100%;
	padding: 0;

	margin-right: 10px;
}
.Complete hr {
	width: 100%;
	height: 0px;
	border: 1px solid #e5e5e5;
	padding: 0;
	margin: 0;
}

.Complete .go-to-my-Account {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px 16px;
	background: #005d9c;

	/* drop-shadow/button-primary */
	width: 182px;
	height: 44px;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
	border-radius: 4px;
	color: white;
	margin: 0 auto;
	border: 1px solid transparent;
}