.UserProfileRouter .content-wrap {
	padding: 0 27px;
	display: flex;
	justify-content: center;
	max-width: 1220px;
	margin: 0 auto;
}

.UserProfileRouter.flex_router {
	display: flex;
	justify-content: center;
}
.UserProfileRouter #side {
	position: absolute;
	top: 109px;
	left: 0;
	width: 200px;
	height: 100%;
}

.UserProfileRouter #main {
	position: absolute;
	width:-moz-calc(100vw - 220px);
	width:-webkit-calc(100vw - 220px);
	width:calc(100vw - 220px);
	right:0;
	padding:2%;
	height: 100%;
}
.UserProfileRouter #main h1 {
	font-size: 22px;
}
.UserProfileRouter #main h2 {
	font-size: 18px;
}
