.Pool{ 
    position: relative;
	width: 100%;
	height: 100%;
	background: #E5E5E5;
	box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
	margin: 0;
	padding: 0;
    z-index: 2;
    /* background of datapool */
}

.Pool .banner{
    position: absolute;
    width: 100%;
    height: 263px;
    left: 0px;
    /* top: 104px; */

    /* background:black; */
    background:#FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
}

.Pool .banner .image{
    position: absolute;
    width: 240px;
    height: 230px;
    left: 41px;
    top: 15px;

    /* background: white; */
    background: rgba(196, 196, 196, 0.13);
    border-radius: 35px;
}

.Pool .text{
    position: absolute;
    width: 60%;
    height: 100%;
    /* background: red; */
    left: 300px;
}

.Pool .text .title{
    position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 20px;
padding-left: 2%;
/* font-family: '?????'; */
font-style: normal;
font-weight: 400;
font-size: 30px;
/* line-height: 24px; */
/* or 67% */

/* display: flex; */
text-align: left;
letter-spacing: 0.15px;

/* color: white; */
color:black;
/* background: red; */
}
.Pool .title .description{
    position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 65px;
padding-left: 2%;
/* font-family: '?????'; */
font-style: normal;
font-weight: 400;
/* font-weight: 400; */
font-size: 14px;
line-height: 35px;
/* line-height: 24px; */
/* or 67% */

/* display: flex; */
text-align: left;
letter-spacing: 0.15px;

/* color: white; */
color: black;

/* background: red; */
}

.Pool .text .tags{
    position: absolute;
    width: 50%;
    height: 20%;
    /* background: white; */
    top:180px;
    display: flex;
	flex-direction: row;
	padding-left: 0px;
    /* left: 300px; */
}
.Pool .tags .types{
    margin-top: 15px;
	line-height: 25px;
	color: black;
    text-align: center;
	font-size: 13px;
	height: 25px;
    width: 100px;
    left: 0px;
    top: 100px;
    border-radius: 50px;
    background: rgba(134, 205, 215, 0.6);
    margin-right: 14px;
    /* margin-left: 5px; */

}
.Pool .tags .category{
    margin-top: 15px;
	line-height: 25px;
	color: black;
    text-align: center;
	font-size: 13px;
	height: 25px;
    width: 100px;
    left: 0px;
    top: 100px;
    border-radius: 50px;
    background: rgba(196, 196, 196, 0.64);
    /* margin-left: 5px; */

}

.Pool .access{
    margin-left: 5px;
	margin-top: 35px;
    position: absolute;
    width: 167PX;
	height: 50px;
/* left: 1045px; */
right: 60px;
top: 0px;
text-align: center;
font-size: 15px;
	line-height: 45px;
background: rgba(232, 190, 41, 0.66);
border: 1px solid rgba(232, 190, 41, 0.66);
box-sizing: border-box;
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 6px;
}

.Pool .menu{
    position: absolute;
width: 100%;
height: 64px;
left: 0px;
top: 263px;

/* background: #FAFAFA; */
background: white;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Pool .menu{
    position: absolute;
    /* width: 50%; */
    /* height: 20%; */
    /* background: white; */
    /* top:180px; */
    display: flex;
	flex-direction: row;
	/* padding-left: 0px; */
}

.Pool .menu div{

	margin-left: 2px;
	/* height: 0px; */
	font-size: 15px;
	line-height: 55px;
	color: black;
	text-align: center;
	text-indent: 0px;
	/* padding-left: 35px; */

	height: 100%;
    width: 34%;
    left: 50px;
    top: 142px;
    box-shadow: 2px 0px 0px rgba(91, 90, 90, 0.25);
    background: #FAFAFA;
}

/* .Pool .menu hr{
    position: absolute;
width: 64px;
height: 0px;
left: 499px;
top: 20px;

border: 1px solid white;
transform: rotate(90deg);

} */

